profile = ocamlformat
break-cases = fit
margin = 77
parse-docstrings = true
wrap-comments = true
line-endings = lf
space-around-records = true
field-space = loose
sequence-style = terminator
type-decl = sparse
break-separators = after
dock-collection-brackets = true
indicate-multiline-delimiters = no
parens-ite = true
exp-grouping = preserve
match-indent-nested = always
# match-indent = 2
