profile = janestreet
break-cases = fit
margin = 77
parse-docstrings = true
wrap-comments = false
field-space = tight-decl
sequence-style = terminator
line-endings = lf
space-around-records = true
space-around-arrays = false
space-around-lists = false
break-infix-before-func = false
type-decl = sparse
parens-ite = false
exp-grouping = preserve
dock-collection-brackets = true
indicate-multiline-delimiters = no
match-indent-nested = always
cases-exp-indent = 4
assignment-operator = end-line
max-indent = 4
break-infix = fit-or-vertical
break-infix-before-func = true
